/*NavBar Bootstrap */

.navbar-toggler {
    &:focus {
        outline: none;
    }
    border: 1px solid $warning;
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    padding: 0 0 0.15em 0.35em;


    .navbar-toggler-inner,
    .navbar-toggler-inner::before,
    .navbar-toggler-inner::after
    {
        width: 1em;
        height: 0.16em;
        background-color: $warning;
        position: absolute;
    }

    .navbar-toggler-inner::before
    {
        content: "";
        display: block;
        top: -0.3em;
    }

    .navbar-toggler-inner::after
    {
        content: "";
        display: block;
        bottom: -0.3em;
    }

    .navbar-toggler-inner{
        transition: 0.2s;
        transform: rotate(0deg);
    }
}

.navbar-toggler.active {

    .navbar-toggler-inner{
        transition: 0.2s;
        transform: rotate(45deg); // 45+360
    }
    .navbar-toggler-inner::before{
        top: 0;
        opacity: 0;
    }
    .navbar-toggler-inner::after{
        bottom: 0;
        transform: rotate(-90deg);
    }
}

.w100 {font-weight: 100 !important;}
.w300 {font-weight: 100 !important;}
.w400 {font-weight: 100 !important;}
.w500 {font-weight: 100 !important;}
.w700 {font-weight: 100 !important;}
.w900 {font-weight: 100 !important;}

/* DANS CE FICHIER, POSSIBILITE DE CHANGER LE THEME CSS DE
  BOOTSTRAP POUR LE FICHIER App.vue*/
  /*FICHIER TYPE POUR RETROUVER LES BALISE DE BASE, CSS/Bootstrap.css*/
  .navbar-toggler{
    margin-top: 20px !important;
    width: 50px;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.2em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    color: white;
    background-size: 100% 100%;
    margin-left: -8px;
    margin-top: 3px;
  }
  
  .navbarwrap .container{
    margin-top: 5px;
  }

  .navbarwrap{
    position: relative;
    margin-top: -50px !important;
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  #bg-primary {
    background-color: #444;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
  
  #navbarNavDropdown{
    margin-top: 20px !important;
  }
  #navBarMenu:hover{
    color: #ADFF2F !important;
  }

  #navbarTitre{
    margin-top: 2%;
  }
  #navbarTitreSpan:hover{
    color: #ADFF2F;
  }


  /*Partie pour un en-tête avec l'effet dégradé*/
  .nav-colored {
      background-color: #333 !important;
  }
  
  .nav-transparent {
      background-color: transparent !important;
      display: none !important;
  }

  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* sur Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* sur Safari et Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* sur Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }


  /*NavBar Bootstrap */
  .dropdown-item {
    color: #444;
    font-weight: bold;
    z-index: 4;
  }

  .dropdown-menu{
      width: 250px;
      z-index: 4;
  }

  .dropdown-item:hover {
    font-weight: bold;
    color: #32CD32;
    z-index: 4;
  }
  
  #bg-dark {
    background-color: #222;
  }
  
  #text-warning {
    color: #ADFF2F;
  }

  .text-justify{
    text-align: justify;
  }
  
  button i {
    color: #333;
  }


  /* Accessibilité tablette/mobile */
  @media screen and (max-width: 400px){
    .tel-400px{
      padding-top: 60px;
    }
  }
  @media screen and (max-width: 600px){
    #maxime{
      display: block;
      margin-left: auto;
      margin-right: auto;
  
      width: 15rem;
    }
    #tony{
      display: block;
      margin-left: auto;
      margin-right: auto;
  
      width: 15rem;
    }
    .maxTraining{
      width: 65%;
    }
  }

  @media screen and (max-width: 1000px){
    #navbarNavDropdown{
        margin-top: 0px;
      }
      #navbarTitre{
        margin-top: 4%;
      }
  }
  
  @media screen and (min-width: 600px){
    #maxime{
      display: block;
      margin-left: auto;
      margin-right: auto;
  
      width: 16rem;
    }
  
    #tony{
      display: block;
      margin-left: auto;
      margin-right: auto;
  
      width: 16rem;
    }
  
    .maxTraining{
      width: 55%;
    }
  }
  
  @media screen and (min-width: 900px){
    .carousel img{
      width: 80%;
    }
    .maxTraining{
      width: 45%;
    }
  }
  
  @media screen and (min-width: 1400px){
    .carousel img{
      width: 70%;
    }
    .maxTraining{
      width: 40%;
    }
    #maxime{
      margin-left: 50%;
    }
  }