html, body {
    background-color: #f8f9fa;
  }

.espacement{
    margin-left: 20px;
}

.anneeBold{
    border-bottom: 2px solid; 
    width: 50%; 
    margin-left:20%; 
    text-align:center;
    font-weight: bold;
}

.container {
    margin-top: 30px; 
    text-align: justify;
    font-size: 110%;
}

.form-control23{
    height: 100px;
}

.marron{
    color: #A52A2A;
}

.PlanSiteSub li{
    text-align: center;
    margin-left: -40px;
}

.maPhoto{
    display: block;
    width:30%;
    margin-top: 50px;
    margin-left: 30%;
}

.TitrePlanSite{
    text-align: center;
}

.TitrePlanSite a{
    color: #343a40;
}

h1{
    color: #444; 
}

h4{
    color: #333; 
}

.h4Blanc{
    text-align: center;
    color: white;
    margin-left: 45px;
}

ul{
    list-style-type: none;
}

form i.fas {
    margin-left: 20px;
    color: #444;
}

.planSite:hover{
    text-decoration: none;
    text-decoration: underline;
}

.contact-form{
    box-shadow: 30px 20px 10px #222;
}

.iconeContact{
    color: #444 !important;
}

.btn-primary{
    border: 2px solid rgba(60, 60, 60, 0.9) !important;
    padding-top: -20px;
    padding: 0.25rem 0.75rem;
    height: 35px;
    top: 50px !important;
    background-color: rgba(60, 60, 60, 0.9);
    font-weight: bold;
}

.btn-primary:hover{
    border: 2px solid;
    background: #F1F1F1;
    color: #333;
}

.py-2{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size:  100%;
}

.containerGeneral {
    height: 300px;
    margin: 0 auto;
    width: 100px; 
}

/* PIED DE PAGE */
.piedPage{
    height: 260px; 
    margin-top: 50px; 
    border-radius: 10px;
    background: rgba(50, 50, 50) !important;
}

@media screen and (max-width: 1000px) {
    .text-justify{
        line-height: 21px;
    }
}

@media screen and (max-width: 770px) {
    .piedPage{
        height: 680px !important;
    }
}

@media screen and (max-width: 330px) {
    .piedPage{
        height: 780px !important;
    }
}

h5.text-uppercase{
    margin-bottom: 0.3em !important;
}

.containerPiedGauche {
    display: block;
    font-weight: normal;

    width: 300px;
    height: 200px;

    margin-top: -50px;
    margin-left: -400px;
    color: white;
    
    padding-top: 75px;
    padding-left: 0px;
}

.containerPiedGauche h4{
    margin-left: -120px;
    font-size:  140%;
}

.containerPiedMillieu {
    display: block;
    font-weight: normal;

    width: 300px;
    height: 200px;

    margin-top: -175px;
    margin-left: -90px;
    color: white;

    padding-top: 50px;
    padding-left: 0px;
}

.containerPiedMillieu h4{
    margin-left: -90px;
    font-size:  140%;
}

.containerPiedDroit {
    display: block;
    font-weight: normal;

    width: 320px;
    height: 200px;

    margin-top: -200px;
    margin-left: 180px;
    color: white;

    padding-top: 50px;
    padding-left: 0px;
}

.containerPiedDroit h4{
    margin-left: -110px;
    font-size:  140%;
}

.copyright{
    float: right;
}

/* SYSTEME D'ONGLETS */
.ul.tabs , .tabs li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tabs li{
    float: left;
    display: block;
  }
  
  .tabs:after{
    display: table;
    content: " ";
    clear: both;
  }
  
  .tab-content.active{
    display: block;
  }
  
  .tabs a{
    display: inline-block;
    background-color: #FFF;
    color: #0F1419;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 15px;
    text-decoration: none;
  }

  .tabs a:hover{
    background: #F1F1F1;
    color: #333;
  }
  
  .tabs .active a{
    color: #FFF;
    background-color: rgba(60, 60, 60, 0.9);
  }
  
  .tabs-content{
    position: relative;
    z-index: 3;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
  }
  
  .tab-content{
    display: none;
  }
  
  .tab-content.active{
    display: block;
  }

  .tab-content ul li{
    margin-left: -20px;
  }
  
  /* SYSTEME D'ONGLETS - TRANSITIONS */
  .fade{
    opacity: 0;
    transition: opacity 0.6s;
  }
  
  .fade.in{
    opacity: 1;
  }


@media screen and (max-width: 950px) {
    .containerGeneral {
        height: 600px;
    
        margin: 0 auto;
        width: 100px; 

        margin-top: 5px;
    }
    
    .containerPiedGauche {
        display: block;
        font-weight: normal;
    
        margin-top: -70px;
        margin-left: -100px;
        text-align: center;
    }

    .containerPiedGauche h4{
        margin-left: 40px;
    }
    
    .containerPiedMillieu {
        display: block;
        font-weight: normal;
    
        margin-top: 10px;
        margin-left: -100px;
        text-align: center;
    }
    
    .containerPiedMillieu h4{
        margin-left: 40px;
    }

    .containerPiedDroit {
        display: block;
        font-weight: normal;
    
        margin-top: -30px;
        margin-left: -100px;
        text-align: center;
    }

    .containerPiedDroit h4{
        margin-left: 40px;
    }

    .maPhoto{
        display: block;
        width:65%;
        margin-top: 50px;
        margin-left: 15%;
    }

}

/* EFFET NEON DANS LA PAGE LOISIRS */
.image_sport{
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #0F1419;

    box-shadow:
    0 0 2vw 0vw #7476FF,
    0 0 1vw 0.4vw #0408fb,
    inset 0 0 .5vw 0.2vw #7476FF,
    inset 0 0 .2vw 0.2vw #3134FF,
    inset 0 0 .25vw 0.2vw #0408FB;
    border-radius: 15px;
}

.image_sport img{
    max-width: 100%;
    filter:
    drop-shadow(0 0.15vw 0.30vw #008000)
    drop-shadow(0 0.15vw 0.30vw #8A8942);
    animation : saxo-blink 2s infinite alternate;
}

@keyframes saxo-blink {
    0%, 9%, 15%, 79%, 83%, 100% {
        filter:
            drop-shadow(0 0.15vw 0.30vw #008000)
            drop-shadow(0 0.15vw 0.30vw #8A8942);
    }

    10%, 14%, 80%, 82% {
        filter: none;
    }
}

@media screen and (min-width: 990px) {
    .image_sport{
        padding-left: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ANIMATION PARAGRAPHE */
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(.5, 0, 0, 1);
}